/*Bilder*/
img{
    display:block;
    max-width: 100%;
    height: 35vh;
    
}

h2{
    text-align: center;
    
    background-color: red;
    border-radius: 1em 1em 0 0;
    
    margin: 1em 0.5em 0.5em 0.5em;
    padding: 0.5em;
}
h3{
    text-transform: uppercase;
    text-decoration: underline;
}


/*main*/
.gridContainer{
    display:flex;
    flex-direction: column;
}
#div1, #div2, #div3{
    border-style: solid;
    border-color: black;
    
    border-radius: 1em;
    
    margin: 0.5em;
    padding: 0.5em 1em;
}

article{
    background-color: beige;
    padding: 0.5em;
    margin: 0.5em 0;
}
